div.enc-stats-box {
  width: 48%;
}

div.stats-box p {
  margin: 6px 0 6px 5px;
}

div.enc-unit-card {
  width: 350px;
  height: 150px;
  border: 2px solid black;
  position:relative;
  margin: 5px 0 10px 5px;
}

div.enc-unit-card p {
  margin: 8px 0 8px 5px;
}

div.enc-unit-card i {
  margin: 8px 0 8px 10px;
  font-size: 20px;
}

.move-btn {
  width: 40px;
  height: 40px;
}

button.enc-btn-encounters-left {
  margin: 50px 10px 0 50px;
}

button.enc-btn-encounters-right {
  margin: 50px 0 0 10px;
}

.enc-encounters-carousel {
  margin: 0 auto;
  width: 600px;
}

.enc-selected-encounter {
  margin: 10px auto;
  display: inline-block;
}

.enc-fight-container {
  width: 500px;
  margin: 30px auto;
}

.enc-fight-btn {
  margin: auto;
  display: block;
}

.enc-fight-text {
  border: 1px solid black;
  width: 100%;
  height: 150px;
  overflow: auto;
  margin-top: 10px;
}

.enc-fight-text textarea {
  /*margin-left: 5px;*/
  margin: 3px 3px 3px 8px;
  width: 95%;
  height: 90%;
  resize: none;
}


.enc-units-carousel {
  margin: 0 auto;
  width: 600px;
}

.enc-selected-unit {
  margin: 10px auto;
  display: inline-block;
}