body {
  display: block;
  width: 1000px; /* may need to adjust this width, over time */
  height: 600px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.vfill {
  height: 100%;
}

.main-col {
  display:inline-block;
  border: 1px solid black;
  /*width: 400px;*/
  /*width: 45%;*/
  /*height: 500px;*/
  height: 100%;
  overflow: auto;
}

.left-col {
  float: left;
  width: 425px;
}

.right-col {
  float: right;
  width: 489px;
}

.left-col-encounters {
  float: left;
  width: 375px;
}

.right-col-encounters {
  float: right;
  width: 621px;
}

.right-col-man-units {
  float: right;
  width: 571px;
}

.left-col-man-encounters {
  float: left;
  width: 425px;
}

.right-col-man-encounters {
  float: right;
  width: 571px;
}

.nav-sidebar {
  height: 40px;
  border: 1px solid black;
}

.nav-text {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
}

div.left {
  float: left;
}

div.right {
  float: right;
}