.body {
    display: block;
    margin: auto;
    width: 864px; /* may need to adjust this width, over time */
}

.main-col {
    display:inline-block;
    border: 1px solid black;
    /*width: 400px;*/
    width: 45%;
    height: 500px;
    overflow: auto;
}

.left-col {
    float: left;
}

.right-col {
    float: right;
}

.between-col {
    display:inline-block;
    border: 1px solid black;
    /*width: 50px;*/
    width: 8%;
    height: 500px;
}

.move-btn {
    width: 40px;
    height: 40px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 375px;
    margin-bottom: 20px;
}

th {
    border: 1px solid black;
    background-color: lightgrey;
}

td {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

